table {
  width: 100%;
}

tr.country-detail-row {
  height: 0;
}

tr.country-row:not(.expanded):hover {
  background: whitesmoke;
}

tr.country-row:not(.expanded):active {
  background: #efefef;
}

.country-row td {
  border-bottom-width: 0;
}

.country-detail {
  overflow: hidden;
}

.detail-item {
  line-height: 1.5;
}
